#insertModal.modal.fade(data-backdrop="false" tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true') 
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title(style="color:black;") Please Fill in The Patient's Data
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          .span(aria-hidden="true") x
      .modal-body
        form#patientdatainsertform.form-horizontal(role="form")
          .form-group
            input.form-control#PatientId(value=patient.id name="PatientId") 
          .form-group
            input.form-control#bloodpressure(type="text" name="bloodpressure" placeholder="Enter bloodpressure")
          .form-group
            input.form-control#weight(type="number" name="weight" placeholder="enter weight")
          .form-group
            input.form-control#description(type="text" name="description" placeholder="enter description")
          button.btn.btn-success('onclick'='insertPatientData()') Submit 
#editModal.modal.fade(data-backdrop="false" tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true') 
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title(style="color:black;") Please Update The Patient's Data
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          .span(aria-hidden="true") x
      .modal-body
        form#patientdataeditform.form-horizontal(role="form")
          .form-group
            input.form-control#PatientId(value=patient.id name="PatientId") 
          .form-group
            input.form-control#PatientInfoId(name="id" value="id")
          .form-group
            input.form-control#bloodpressureedit(type="text" name="bloodpressure" placeholder="Enter bloodpressure")
          .form-group
            input.form-control#weightedit(type="number" name="weight" placeholder="enter weight")
          .form-group
            input.form-control#descriptionedit(type="text" name="description" placeholder="enter description")
          button.btn.btn-success('onclick'='editPatientData()') Submit
.col
  label(for='patientInfo')
    h3 #{patient.fullname}'s Info
  .patient_gen_info(style="display:flex")
    .patientimage(style="width:250px; padding:20px")
      img(src="/img/patienticon.png" alt="Patient Icon" style="max-height:200px")
    .patient_data(style="flex:1; padding:20px")
      p Age: #{patient.age} (#{patient.dateofbirth_formatted})
      p Assigned Doctor: #{patient.Doctor.fullname}
      p Address: #{patient.address}
      p Phone: #{patient.phone}
      if patient.Allergies.length > 0
        p Allergies
          ul
            each al in patient.Allergies
              li #{al.AllergyType.name}
  table#patientInfoTable.table.table-curved
    thead#table-head
      tr
        th(scope='col') Last Visit
        th(scope='col') Blood Pressure
        th(scope='col') Weight
        th(scope='col') Date of Birth
    tbody
    each pi in patient.PatientInfos
      tr
        td#ca(scope='row') #{pi.createdAt.toString().substr(0,24)}
        td#pbp #{pi.bloodpressure}
        td#pw #{pi.weight}
        td#pdb #{patient.dateofbirth}
        td
          button#editPatientData.btn.btn-sm.btn-success(style='overflow: auto;', type='button', data-toggle='modal', data-target='#editModal' 'onclick'='editMode('+pi.id + ')') Edit
  button#addPatientData.btn.btn-sm.btn-primary.pull-right(style='overflow: auto;', type='button', data-toggle='modal', data-target='#insertModal') Add Patient Data  

  .card
    .card-body
      h4.card-title Previous Notes
      each pin,i in patient.PatientInfos
        p.card-text Notes ##{i+1}: #{pin.description} 
  .card
      .card-body
        h4.card-title Previous Diagnoses
        each d,i in patient.Diagnoses
          p.card-text Diagnosis ##{i+1}: #{d.DiagnosisType.name}
          p.v-card-media Diagnosis Image:
          .patientdiagnosisimage(style="width:250px; padding:20px")
            img(src=d.imageurl alt="Diagnosis image loading" style="max-height:200px")
script
  include js/patientinfo.js