mixin diagnosisResult(searchResult)
    ul#diagnosisList.list-group-flush
    each diagnosis in searchResult.diagnoses
        li.list-group-item
        - console.log(diagnosis)
        .card
            .card-body
                h4.card-title #{diagnosis.DiagnosisType.name}
                p.card-text Diagnosis: #{diagnosis.Treatment.description}
                p.card-text Treatment: #{diagnosis.Treatment.TreatmentType.name}

mixin genericPersonList(peopleList)
    ul#peopleList.list-group-flush
    each person in peopleList
        li.list-group-item
        | #{person.fullname || (person.firstname + ' ' + person.lastname)}

mixin peopleResult(searchResult)
    .nav.flex-column
        //- Patients
        if searchResult.patients && searchResult.patients.length > 0
            i#patientsIcon(class='fa fa-hospital-o')
                h4#sidebarTitle Patients
            ul#patientsList.list-group-flush
            each patient in searchResult.patients
                li#patient.list-group-item
                a#patientLink(href='javascript:void(0);' type='get' 'onclick'='getPatientData(' + patient.id + ')') #{patient.firstname + ' ' + patient.lastname}
        //- Doctors
        if searchResult.doctors && searchResult.doctors.length > 0
            i#doctorsIcon(class='fa fa-user-md')
                h4#sidebarTitle Doctors
            +genericPersonList(searchResult.doctors)
        //- Nurses
        if searchResult.nurses && searchResult.nurses.length > 0
            i#nursesIcon(class='fa fa-user')
                h4#sidebarTitle Nurses
            +genericPersonList(searchResult.nurses)
        //- Secretaries
        if searchResult.secretaries && searchResult.secretaries.length > 0
            i#nursesIcon(class='fa fa-user')
                h4#sidebarTitle Secretaries
            +genericPersonList(searchResult.secretaries)
        //- Admins
        if searchResult.admins && searchResult.admins.length > 0
            i#nursesIcon(class='fa fa-user-plus')
                h4#sidebarTitle Admins
            +genericPersonList(searchResult.admins)

.col
    if !searchResult
        //- If no searchResult ERROR
        label(for='searchResult')
        h3 500 - No Search Results Provided
    else if searchResult.resultCount > 0
        //- If search results to display
        label(for='searchResult')
        h3 Search Results
        if searchResult.diagnoses
            //- Display diagnosis result
            +diagnosisResult(searchResult)
        else if searchResult
            //- display people result
            +peopleResult(searchResult)
        else
            p Unable to process search results
    else
        //- Nothing found
        label(for='searchResult')
        h3 No Search Results Found
